<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <div class="buscar">
            <div class="header1">
                <div class="logo"><img src="images/logo-mercado-liebre.svg" alt="Logo mercado liebre"></div>
                <input type="search" placeholder="Buscar productos,marcas"  class="input-control2">
                <div class="lupa"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></div>
            </div>
            <div class="compra">
                <i class="fa-solid fa-hand-holding-dollar"></i> Compra en coutas y sin tarjeta de crédito
            </div>
        </div>

        <form action="" class="search">
            <div class="opcionesMenu">
                <ul class="menuHeader">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
            
                <ul class="menuHeader">
                    <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li>Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </form>
    </header>
        <div class="banner"><img src="images/img-home-banner.jpg"></div>
    
    <main>
         <h2>Basado en las últimas visitas</h2>
         <div class="ofertas">
            <div class="bloque1">
                <div class="articulo-cafetera"> 
                <div class="cafetera"><img src="images/img-cafetera-moulinex.jpg"></div>
                    <div class="relative-cafetera">
                        <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <div class ="precios">$6.770</div>
                            <div class="desc">40% OFF</div>
                        </div>
                        <div class="descripcion">Cafetera Moulinex</div>
                    </div>
                </div>
        
                <div class="articulo-macbook">
                    <div class="macbook"><img src="images/img-macbook-pro-2019.jpg"></div>
                        <div class="relative-macbook">
                            <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                            <div class="precio-descuento">
                                <div class ="precios">$230.000</div>
                                <div class="desc">20% off</div>
                            </div>
                        <div class="descripcion">MacBook Pro 2019</div>
                    </div>
                </div>
            </div>
                <div class="bloque2">
                    <div class="articulo-samsung">
                        <div class="samsung"><img src="images/img-samsung-galaxy-s10.jpg"></div>
                            <div class="relative-samsung">
                                <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                <div class="precio-descuento">  
                                    <div class ="precios">$70.500</div>
                                    <div class="desc">10% off</div>
                                </div>
                                <div class="descripcion">Samsung Galaxy S10</div>
                            </div>
                        </div> 
                        <div class="articulo-tv">
                            <div class="tv"><img src="images/img-tv-samsung-smart.jpg"></div>
                                <div class="relative-tv">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class ="precios">$23.200</div>
                                        <div class="desc">5% off</div>
                                    </div>
                                    <div class="descripcion">SmartTv Samsung 43"</div>
                                </div>
                            </div>
                    </div>
        </div> 
                
        <h2>Ofertas</h2>
            <div class="ofertas">
                <div class="bloque1">
                    <div class="articulo-cafetera"> 
                    <div class="cafetera"><img src="images/img-cafetera-moulinex.jpg"></div>
                        <div class="relative-cafetera">
                            <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                            <div class="precio-descuento">
                                <div class ="precios">$6.770</div>
                                <div class="desc">40% OFF</div>
                            </div>
                            <div class="descripcion">Cafetera Moulinex</div>
                        </div>
                    </div>
            
                    <div class="articulo-macbook">
                        <div class="macbook"><img src="images/img-macbook-pro-2019.jpg"></div>
                            <div class="relative-macbook">
                                <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                <div class="precio-descuento">
                                    <div class ="precios">$230.000</div>
                                    <div class="desc">20% off</div>
                                </div>
                            <div class="descripcion">MacBook Pro 2019</div>
                        </div>
                    </div>
                </div>
                    <div class="bloque2">
                        <div class="articulo-samsung">
                            <div class="samsung"><img src="images/img-samsung-galaxy-s10.jpg"></div>
                                <div class="relative-samsung">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">  
                                        <div class ="precios">$70.500</div>
                                        <div class="desc">10% off</div>
                                    </div>
                                    <div class="descripcion">Samsung Galaxy S10</div>
                                </div>
                            </div> 
                            <div class="articulo-tv">
                                <div class="tv"><img src="images/img-tv-samsung-smart.jpg"></div>
                                    <div class="relative-tv">
                                        <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                        <div class="precio-descuento">
                                            <div class ="precios">$23.200</div>
                                            <div class="desc">5% off</div>
                                        </div>
                                        <div class="descripcion">SmartTv Samsung 43"</div>
                                    </div>
                                </div>
                        </div>
            </div>
            
        </main>
    <footer>
    <div class="pie-pag">
        <div class="divTarjeta">
            <div class="img-tarjeta"><i class="fa-sharp fa-solid fa-credit-card"></i></div>
            <div class="paga">Pagá con tarjeta o en efectivo</div>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="divEnvio">
            <div class="img-envio-gratis"><i class="fa-sharp fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="divSeguridad">
            <div class="img-seguridad"><i class="fa-sharp fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
    </div>
            <div class="copy"><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></div>
        
    </footer>
</body>
</html>